body{

margin: 0px;
font-family: 'Open Sans', sans-serif;

background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

min-height: 100vh ;
}

.page {

  position: relative;
  width: 1200px;
  height: 720px;
  margin: 0px auto;
  padding-top: 50px;

}

nav{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {

  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0px;
  padding: 0px;

}

ul li a{

  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;

}

ul li a:hover{
  font-weight: bold;  
  opacity: 1;
}

h1, ul {

  font-family: 'Mulish', sans-serif;
}

main{

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;

}

h1 {

  color: #000;
  font-size: 49px ;
  line height: 56px;
  font-style: normal;
  font-weight: 400;
  

}

span {

  color: #89C5CC;
  font-weight: bold;
  
}

section p{

  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin: 40px 0 ;
}

button{
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background-color: #69B99D ;
  border: none;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 14px 32px 15px;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover{

    background-color:  #71a895;
   
}


footer{

  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 250px;

}

footer a {

  font-weight: bold;
  text-decoration: none;
  color: #000000;
  
}

#balls{
  
  position: fixed ;
  bottom: 0;
  right: 0;
  
}